// Body
$body-bg: #f8fafc;
$backgorund: #f4f9fc;
// $primary: #d4a024;
$primary: #B5838D;
$dark-primary: #5B5661;
$light-primary: #f4f9fc;
$text: #FFFFFF;
$primary-text: #212121;
$secondary-text: #757575;
$accent: #FF4081;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #fff;
$black: #000;
$gray: #616161;

//Colors.co
$apricot: #FFCDB2;
$melon: #FFB4A2;
$pink: #E5989B;
$lavender: #B5838D;
$oldlavender: #6D6875;
